<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <div class="social-media-list">
          {% if site.email %}
            <a href="mailto:{{ site.email }}">Email</a>
          {% endif %}

          {% if site.github_username %}
            <a href="https://github.com/{{ site.github_username }}">Github</a>
          {% endif %}

          {% if site.linkedin_username %}
            <a href="https://linkedin.com/in/{{ site.linkedin_username }}">Linkedin</a>
          {% endif %}
        </div>
      </div>

      <div class="footer-col footer-col-2">
      </div>
    </div>
  </div>
</footer>
