---
layout: default
---
<div class="home">
  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.type == "project" %}
      <li>
        <h1>
          {% if post.git-link == null %}
            <a class="post-link" href="{{ site.url }}{{ post.link }}">{{ post.title }}</a>
          {% else %}
            <a class="post-link" href="{{ post.git-link }}">{{ post.title }}</a>
          {% endif %}
        </h1>
        <span class="post-project">{{ post.description }}</span>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>